{% load static %}

<div class="sidebar_menu">
    <a href="{% url 'home' %}" href="#" class="sidebar_item {% if request.path == '/' %}active_link{% endif %}">
        <img src="{% static 'img/home.svg' %}" alt="" width="20px" height="20px">
        Главная
    </a>
    <a href="{% url 'users_list' %}" class="sidebar_item {% if '/users' in request.path %}active_link{% endif %}">
        <img src="{% static 'img/users.svg' %}" alt="" width="20px" height="20px">
        Пользователи
    </a>
    <a href="{% url 'my_notes_list' %}" class="sidebar_item {% if '/my-notes' in request.path  %}active_link{% endif %}">
        <img src="{% static 'img/letter.svg' %}" alt="" width="20px" height="20px">
        Принятые СЗ {% if unReadCount %}<span class="unRead">+{{ unReadCount }}</span>{% endif %}
    </a>
    <a href="{% url 'notes_list' %}" class="sidebar_item {% if '/notes' in request.path  %}active_link{% endif %}">
        <img src="{% static 'img/send.svg' %}" alt="" width="20px" height="20px">
        Отправленные СЗ
    </a>
    <a href="{% url 'departments_list' %}" class="sidebar_item {% if '/departments' in request.path  %}active_link{% endif %}">
        <img src="{% static 'img/department.svg' %}" alt="" width="20px" height="20px">
        Отделы
    </a>
    <a href="{% url 'tags_list' %}" class="sidebar_item {% if '/tags' in request.path  %}active_link{% endif %}">
        <img src="{% static 'img/tag.svg' %}" alt="" width="20px" height="20px">
        Тэги
    </a>
    <!--<a href="{% url 'chat' %}" class="sidebar_item">
        <img src="{% static 'img/users.svg' %}" alt="" width="20px" height="20px">
        Чат
    </a>-->
    <a href="{% url 'calendar' %}" class="sidebar_item {% if request.path == '/calendar' %}active_link{% endif %}">
        <img src="{% static 'img/calendar.svg' %}" alt="" width="20px" height="20px">
        Календарь
    </a>
    <div class="menu_line"></div>
    <a href="{% url 'roles' %}" class="sidebar_item {% if '/roles' in request.path  %}active_link{% endif %}">
        <img src="{% static 'img/visit.svg' %}" alt="" width="20px" height="20px">
        Роли
    </a>
    <a href="{% url 'all_notes' %}" class="sidebar_item {% if '/all-notes' in request.path  %}active_link{% endif %}">
        <img src="{% static 'img/letter.svg' %}" alt="" width="20px" height="20px">
        Все СЗ
    </a>

    <a href="{% url 'statistics' %}" class="sidebar_item {% if request.path == '/statistics' %}active_link{% endif %}">
        <img src="{% static 'img/statistic.svg' %}" alt="" width="20px" height="20px">
        Статистика
    </a>

    <a href="{% url 'mobile' %}" class="sidebar_item {% if request.path == '/mobile' %}active_link{% endif %}">
        <img src="{% static 'img/mobile.svg' %}" alt="" width="20px" height="20px">
        Моб. приложение
    </a>
</div>