{% extends 'new_design/base.html' %}

{% block title %}
    Календарь
{% endblock %}

{% block style %}
<style>
#calendar2 {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
    margin-top: 2px;
}
#calendar2 td{
    text-align: center;
}
#calendar2 thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: rgb(50, 50, 50);
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar2 tbody td {
    height: 80px;
  color: rgb(44, 86, 122);
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
  color: rgb(231, 140, 92);
}
#calendar2 tbody td:hover, #calendar2 tbody td.today {
    cursor: pointer;
    background: rgb(231 231 231);
}
.arrow{
    background: #d0d0d0;
    color: white;
    font-size: 28px;
    cursor: pointer;
}
#day_notes_date{
    text-align: center;
}
@media only screen and (min-width: 601px){
    .col.m4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
}
</style>
{% endblock %}

{% block content %}
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

   <table id="calendar2">
      <thead>
        <tr><td class="arrow">‹<td colspan="5"><td class="arrow">›
        <tr><td>Пн<td>Вт<td>Ср<td>Чт<td>Пт<td>Сб<td>Вс
      <tbody>
    </table>

<div>
    <h5 id="day_notes_date"></h5>
    <div id="day_notes_list">

    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var preloader = '<div class="preloader-wrapper big active" style="\n' +
                 '    margin: 150px auto;\n' +
                 '    display: block;\n' +
                 '">\n' +
                 '        <div class="spinner-layer spinner-blue-only">\n' +
                 '      <div class="circle-clipper left">\n' +
                 '        <div class="circle"></div>\n' +
                 '      </div><div class="gap-patch">\n' +
                 '        <div class="circle"></div>\n' +
                 '      </div><div class="circle-clipper right">\n' +
                 '        <div class="circle"></div>\n' +
                 '      </div>\n' +
                 '    </div>\n' +
                 '    </div>';

    function Calendar2(id, year, month) {
    var Dlast = new Date(year,month+1,0).getDate(),
        D = new Date(year,month,Dlast),
        DNlast = new Date(D.getFullYear(),D.getMonth(),Dlast).getDay(),
        DNfirst = new Date(D.getFullYear(),D.getMonth(),1).getDay(),
        calendar = '<tr>',
        month=["Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь"];
    if (DNfirst != 0) {
      for(var  i = 1; i < DNfirst; i++) calendar += '<td>';
    }else{
      for(var  i = 0; i < 6; i++) calendar += '<td>';
    }
    for(var  i = 1; i <= Dlast; i++) {
      if (i == new Date().getDate() && D.getFullYear() == new Date().getFullYear() && D.getMonth() == new Date().getMonth()) {
        calendar += `<td class="today" onclick="getDayNotes(${year}, ${D.getMonth()}, ${i})">` + i;
        getDayNotes(year, D.getMonth(), i);
      }else{
        calendar += `<td onclick="getDayNotes(${year}, ${D.getMonth()}, ${i})">` + i;
      }
      if (new Date(D.getFullYear(),D.getMonth(),i).getDay() == 0) {
        calendar += '<tr>';
      }
    }
    for(var  i = DNlast; i < 7; i++) calendar += '<td>&nbsp;';
    document.querySelector('#'+id+' tbody').innerHTML = calendar;
    document.querySelector('#'+id+' thead td:nth-child(2)').innerHTML = month[D.getMonth()] +' '+ D.getFullYear();
    document.querySelector('#'+id+' thead td:nth-child(2)').dataset.month = D.getMonth();
    document.querySelector('#'+id+' thead td:nth-child(2)').dataset.year = D.getFullYear();
    if (document.querySelectorAll('#'+id+' tbody tr').length < 6) {  // чтобы при перелистывании месяцев не "подпрыгивала" вся страница, добавляется ряд пустых клеток. Итог: всегда 6 строк для цифр
        document.querySelector('#'+id+' tbody').innerHTML += '<tr><td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;';
    }
    }
    Calendar2("calendar2", new Date().getFullYear(), new Date().getMonth());
    // переключатель минус месяц
    document.querySelector('#calendar2 thead tr:nth-child(1) td:nth-child(1)').onclick = function() {
      Calendar2("calendar2", document.querySelector('#calendar2 thead td:nth-child(2)').dataset.year, parseFloat(document.querySelector('#calendar2 thead td:nth-child(2)').dataset.month)-1);
    }
    // переключатель плюс месяц
    document.querySelector('#calendar2 thead tr:nth-child(1) td:nth-child(3)').onclick = function() {
      Calendar2("calendar2", document.querySelector('#calendar2 thead td:nth-child(2)').dataset.year, parseFloat(document.querySelector('#calendar2 thead td:nth-child(2)').dataset.month)+1);
    }

    async function getDayNotes(year, month, day){
        let dayNotesList = document.getElementById("day_notes_list");
        dayNotesList.innerHTML = preloader;
        url = `/fetch/calendar?year=${year}&month=${month+1}&day=${day}`;
        let dayNotesDate = document.getElementById('day_notes_date');
        day = parseInt(day)<10 ? '0' + day : day;
        month += 1;
        month = parseInt(month)<10 ? '0' + month : month;
        dayNotesDate.innerHTML = `Данные за ${day}.${month}.${year}`
        await fetch(url).then(async response=>{
            if (response.status === 200){
                loadNoteList(await response.json());
            }else{
                errorConnectionToast();
                errorConnectionText();
                throw new Error(response.status);
            }
        }).catch(error=>{
            errorConnectionToast();
            errorConnectionText();
            console.log(error)
        });
    }

    function loadNoteList(notes){
        let lis = '';
        let dayNotesList = document.getElementById('day_notes_list');
        console.log(notes);
        notes.length > 0 ? lis += createList(notes) : lis += '<p class="not_found">Данные не найдены</p>';
        dayNotesList.innerHTML = lis;
    }

    function createList(data){
            let empty = '';
            data.forEach(
                (i) => {
                let fast = i["fast"] ? ' <i class="material-icons" style="color: #ffbd29;position: absolute;right: 20px">offline_bolt</i>' : '';
                let file = i["files"].length>0 ? ' <i class="material-icons right">attachment</i>' : '';
                  empty+=`<a class="waves-effect waves-light modal-trigger new-collection-item collection-item" href="#modal1" onclick="getDetailNote(${i.id})">СЗ №${i["number"]} - ${i["title"]}  ${fast}</a>`;
                }
            );
            if (empty === ""){
                empty = "<span style='color: grey;justify-content: center;display: flex;align-items: center;margin: 20px auto;'>Не найдено</span>"
            }else{

                  empty="<div class='collection' style='width:100%'>"+empty+"</div>";

                    return empty;
        }
    }

    function errorConnectionToast(){
        M.toast({html: 'Ошибка', classes: "toastError"})
    }


    function errorConnectionText() {
        let dayNotesList = document.getElementById('day_notes_list');
        dayNotesList.innerHTML = "<p class='error_text'>Ошибка соединения, попробуйте позже</p>"
    }


    function createDetail(data){
          let modal = document.getElementById("modal1");
          modal.classList.add("note_info");
          let buh = data.buh !== null ? `${data.buh.first_name} ${data.buh.last_name}(подписано)`: 'в ожидании';

          let status = data.status;
          let status_image = '';
          if (status === null){
            status_image = 'wait';
          }else if(status === 'success'){
            status_image = 'success';
          }else if(status === 'edit'){
            status_image = 'warning';
          }else if(status === 'error'){
            status_image = 'error';
          }

          let user_count = 0;
          let users = '';
          data.users.forEach((i)=>{
            let user_status = '';
            user_count++;
            if(user_count === data.user_index){
              console.log(i);
              if (status == null){
                user_status = 'current_user';
              }else if(status === 'success'){
                user_status = 'success_user';
              }else if(status === 'edit'){
                user_status = 'edit_user';
              }else if(status === 'error') {
                user_status = 'error_user';
              }
            }else if(user_count < data.user_index){
                user_status = 'success_user';
              }
            users+=`<li class="note_detail_user ${user_status}">${i.user.first_name} ${i.user.last_name}</li><span class="user_line"></span>`
          });
          users = `<ul class="note_detail_users">${users}</ul>`

          modal.innerHTML = `<div class="note_detail">
                <div style="display: flex;
                margin-top: 14px;
                border-radius: 10px;
                flex-direction: column;">
                    <img src="/static/img/${status_image}.svg" class="note_info_img" width="60" height="60">
                    <div class="note_info_item"><span>Создал:</span>
                        <span>${data.user.first_name} ${data.user.last_name}</span></div>
                    <div class="note_info_item"><span>Название:</span> <span>${data.title}</span></div>
                    <div class="note_info_item"><span>Дата СЗ:</span> <span>${data.date}</span></div>
                    <div class="note_info_item"><span>Дата создания:</span> <span>22 июня 2021 г. 11:18</span></div>
                    <div class="note_info_item"><span>Текст:</span> <span><p>${data.text}</p></span></div>
                    <div class="note_info_item"><span>Итого:</span> <span>${data.summa}</span></div>
                    <div class="note_info_item"><span>Бухгалтер:</span> <span> <span style="color:grey;">${buh}</span> </span></div>
                    <ul class="note_detail_tags">
                    </ul>
                </div>
                ${users}
            </div>`;

        }




        async function getDetailNote(id){
          let modal = document.getElementById("modal1");
          modal.innerHTML = preloader;
          let url = '/fetch/notes/'+id;
          await fetch(url).then(async response => {
              if (response.status === 200) {
                 createDetail(await response.json());

              } else {
                throw new Error(response.status);
              }
            }).catch((error)=>{
              console.log(error);
              let modal = document.getElementById("modal1");
              modal.innerHTML = "<div class='connection_error'>Ошибка<br>Нет связи с сервером</div>";
            });
        }
</script>
{% endblock %}