{% extends 'new_design/base.html' %}
{% load static %}

{% block title %}
Отделы
{% endblock %}

{% block style %}
<style>
    .row .col{
			padding:0px;
		}
		.row .col.s3{
			width:50%;
		}
        #wait, #fast, #success, #edit, #error{
            display: flex;
            justify-content: center;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        .row_card{
            margin:auto 10px !important;
        }
        .note_detail_div{
          padding:20px;
        }
        .tabs{
                box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 0%);
          }
        .note_info_item{
        border-bottom: 1px solid grey;
        display: flex;
        margin-bottom:10px;
        padding:15px;
        justify-content: space-between;
        border-bottom: 1px solid #d7d7d7;
    }
        .note_info{
        display: flex;
        max-width: 750px;
        width: 90%;
        margin: auto;
        margin-top: 27px;
        border-radius: 10px;
        padding:22px;
        background: white;
        flex-direction: column;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    }
    .note_info_item span:last-child{
        width: 60%;
        text-align: end;
    }
    ul{
        list-style-type: none;
    }
    .note_detail_tags{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .note_detail_tag{
        margin: 5px 10px;
        padding:7px;
        border-radius: 5px;
        color: white;
        background: #628bb591;
    }
    .note_detail_users{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .note_detail_user{
        padding:10px;
        background-color: grey;
        border-radius:5px;
        color: white;
        margin:7px;
    }
    .current_user{
        background-color: cornflowerblue;
    }
    .success_user{
        background-color:#25AE88;
    }
    .edit_user{
        background-color: #ffc800;
    }
    .error_user{
        background-color: #D75A4A;
    }
    .user_line{
        width: 30px;
        height: 1px;
        background-color: #3a92ff;
    }
    .user_line:last-child{
        display: none;
    }
    .note_info_status{
        background: #00a93c;
        width: fit-content;
        padding: 11px;
        font-size: 11px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: -35px;
        margin-right: -35px;
        align-self: flex-end;
        color: white;
    }
    .note_info_img{
        background-color: white;
        margin-top: -38px;
        margin-right: 5px;
        border-radius: 3px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 20px;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
        align-self: flex-end;
    }
    .note_info_item svg:hover {
    fill: #7cb342;
    }
    .connection_error{
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 23px;
      color: #ff6600;
    }
    .departments{
        margin-top: 10px;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%) ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .departments-item{
        border-bottom: 1px solid grey;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        width: 100%;
        line-height: 1.5rem;
        padding: 10px 20px;
        margin: 0;
        border-bottom: 1px solid #e0e0e0;
        align-items: center;
        transition: .25s;
        cursor: pointer;
    }
    .departments-item:hover{
        background-color: #f3f3f3;
    }
    .departmentIconList{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .departmentIconList a{
        border-right: 1px solid #e0e0e0;
        padding:0px 5px;
    }
    .departmentIconList a:last-child{
        border-right: 0px;
    }
    .more_icon, .createModalTitle{
        color: #00bfa5;
    }
    .departmentModal{
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 500px;
        border-top:1px solid #e0e0e0;
    }
        .collection-item{
        color: blue;
        display: flex;
    }
    .listItemNumber {
        margin-right: 120px;
        border-radius: 100%;
        background: #ffffff;
        text-align: center;
        width: 33px;
        border: 1px solid #58adff;
        display: flex;
        justify-content: center;
        height: 30px;
        align-items: center;
        color: #9ed4ff;
    }
    .listItemContent{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        color: #616161;;
    }
    .department_users_td:last-child{
        border-bottom:0px solid white;
    }
    .department_name:hover{
        color:#50a1ff;
    }
</style>
{% endblock %}

{% block content %}
    <div id="modal_detail" class="modal departmentModal">
        <div class="modal-content">

        </div>
    </div>
    <div id="modal_create" class="modal departmentModal">
        <div class="modal-content">
          <h5 class="createModalTitle">Создание</h5>
          <p><input type="text" id="createModalInput"></p>
            <a href="#" class="modal-close btn waves-effect" onclick="createTag()">создать</a>
        </div>
    </div>

    <div id="modal_more" class="modal departmentModal">
        Загрузить
    </div>
    <div id="modal_edit" class="modal departmentModal">
        <div class="modal-content">
          <h5 class="editModalTitle">Редактирование</h5>
          <p>
            <input id="editModalInput" type="text" value=""></p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-grey btn-flat">Нет</a>
          <a href="#!" id="editModalButton" class="modal-close waves-effect waves-green btn-flat" data-pk="" data-name="" onclick="editModalButton(this)">Да</a>
        </div>
    </div>
    <div id="modal_delete" class="modal departmentModal">
        <div class="modal-content">
          <h5 class="deleteModalTitle">Удаление</h5>
          <p>
            Вы действительно хотите удалить данный отдел, отменить это действие будет невозможно</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-grey btn-flat">Нет</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat" data-pk="" id="deleteModalButton" onclick="deleteTag(this)">Да</a>
        </div>
    </div>
    <ul class="departments" id="departments">
        {% for i in departments %}
            <li href="#!" class="departments-item" data-counter="{{ forloop.counter }}" id="departmentItem_{{ i.pk }}">
                <span class="listItemNumber">{{ forloop.counter }}</span>
                <div class="listItemContent">
                    <span id="department_{{ i.pk }}" href="#modal_detail" class="modal-trigger department_name" onclick="departmentDetail({{i.pk}})">{{ i.name }}</span>
                    <span class="departmentIconList">
                        <!--<a href="#modal_more" class="modal-trigger"><i class="material-icons more_icon">menu</i></a>-->
                        <a href="#modal_edit" class="modal-trigger" onclick="selectDepartment({{i.pk}})"><i class="material-icons edit_icon">edit</i></a>
                        <a href="#modal_delete" class="modal-trigger" onclick="buttonAddId({{ i.pk }})"><i class="material-icons delete_icon">delete</i></a>
                    </span>
                </div>
            </li>
        {% endfor %}
      </ul>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large pulse modal-trigger" href="#modal_create" style="background: #58a5ff !important">
          <i class="large material-icons">add</i>
        </a>
      </div>
{% endblock %}

{% block script %}
<script>
    var preloader = `<div class="preloader-wrapper big active" style="
    margin: 150px auto;
    display: block;">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
        </div>`;

    /*Детальная страница(с пользователями) для отдела*/
    async function departmentDetail(pk){
        let departmentUserList = document.getElementById("modal_detail");
        departmentUserList.innerHTML = preloader;
        let url = `/fetch/department/${pk}/users`;
        await fetch(url).then(async response => {
            if (response.status === 200){
                createDetailDepartment(await response.json());
            }else {
                errorConnectionToast();
                throw new Error(response.status);
            }
        }).catch(error => {console.log(error);}
        )
    }

    function createDetailDepartment(departmentUsers){
        let departmentUserList = document.getElementById("modal_detail");
        let users = "";
        let table = '<table><thead><tr>' +
            '<th>ФИО</th><th>Должность</th></tr></thead><tbody>'
        if (departmentUsers.length>0) {
            departmentUsers.forEach(elem => {
            table += `<tr class="department_users_td"><td>${elem.user.first_name} ${elem.user.last_name}</td><td>${elem.position}</td></tr>`;
            });
            table += "</tbody></table>"
            departmentUserList.innerHTML = table;
        }else{
            users = '<p class="not_found">Пользователей не найдено</p>';
            departmentUserList.innerHTML = users;
            console.log(departmentUserList)
        }
    }

    /*Тут редактирование*/
    function selectDepartment(pk){
        let name = document.getElementById(`department_${pk}`).textContent;
        let input = document.getElementById("editModalInput");
        let button = document.getElementById("editModalButton");
        input.value = name;
        button.setAttribute("data-pk", pk);
    }

    function editModalButton(elem){
        let pk = elem.getAttribute("data-pk");
        let name = document.getElementById("editModalInput").value;
        editDepartment(pk,name);
    }

    async function editDepartment(pk, name){
        let url = "/fetch/department/edit";
        await fetch(url, {
            method: 'post',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "pk": pk,
                "name": name,
            })
        }).then(async response => {
            if (response.status === 200) {
                successEditToast();
                departmentTextEdit(name, pk);
            }else{
                errorConnectionToast();
                throw new Error(response.status);
            }
        }).catch((error)=>{
            errorConnectionToast();
            console.log(error);
        })
    }

    function successEditToast(){
        M.toast({html: 'Отдел изменен', classes: "toastSuccess"})
    }

    function departmentTextEdit(text, pk){
        let elem = document.getElementById(`department_${pk}`);
        elem.innerText = text;
    }

    /*Тут удаление*/
    function buttonAddId(pk){
        let elem = document.getElementById("deleteModalButton");
        elem.setAttribute("data-pk", pk);
    }

    async function deleteTag(elem){
        let pk = elem.getAttribute("data-pk");
        url = `/fetch/department/delete/${pk}`;
        await fetch(url, {
            method: "delete",
        }).then(async response=>{
            if (response.status === 200){
                deleteInList(pk);
                successDeleteToast();
            }else{
                errorConnectionToast();
                throw new Error(response.status);
            }
        }).catch(error => {
            errorConnectionToast();
            console.log(error);})
    }

    function deleteInList(pk){
        let department_item = document.getElementById(`departmentItem_${pk}`);
        department_item.remove();
    }

    function successDeleteToast(){
            M.toast({html: 'Отдел удален', classes: "toastSuccess"})
    }

    /*Тут создание*/
    async function createTag(){
        let text = document.getElementById("createModalInput").value;
        let url = '/fetch/department/create';
        await fetch(url,{
            method: "post",
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "name": text,
            })
        }).then(async response => {
            if (response.status === 200){
                    successCreateToast();
                    let response_body = await response.json();
                    addDepartmentsList(response_body["id"], response_body["name"]);
                }else{
                    errorConnectionToast();
                    throw new Error(response.status);
                }
            }
        ).catch(error=>{
            errorConnectionToast();
            console.log(error);
        })
    }

    function addDepartmentsList(pk, name){
        let departments = document.getElementById("departments");
        let last_child_number = 1;
        if(departments.children.length > 0){
            last_child_number = departments.children[departments.children.length-1].getAttribute("data-counter");
            last_child_number = parseInt(last_child_number)+1;
        }
        let new_department_elem = createLi(last_child_number, pk);
        new_department_elem.innerHTML = `
                <span class="listItemNumber">${last_child_number}</span>
                <div class="listItemContent">
                    <span id="department_${pk}">${name}</span>
                    <span class="departmentIconList">
                        <a href="#modal_edit" class="modal-trigger" onclick="selectDepartment(${pk})"><i class="material-icons edit_icon">edit</i></a>
                        <a href="#modal_delete" class="modal-trigger" onclick="buttonAddId(${pk})"><i class="material-icons delete_icon">delete</i></a>
                    </span>
                </div>`;

        departments.appendChild(new_department_elem);
    }
    function createLi(counter, pk) {
        let li = document.createElement('li');
        li.classList.add("departments-item");
        li.setAttribute("data-counter", counter);
        li.id = `departmentItem_${pk}`;
        return li;
    }

    function successCreateToast(){
        M.toast({html: 'Отдел создан', classes: "toastSuccess"})
    }


    /*Ошибка при отсутсвии интернета и серверных ошибках(редактирование, удаление, создание)*/
    function errorConnectionToast(){
        M.toast({html: 'Ошибка', classes: "toastError"})
    }
</script>
{% endblock %}