{% extends 'new_design/base.html' %}
{% load static %}

{% block title %}
Отправленные
{% endblock %}

{% block style %}
<style type="text/css">

		.row .col{
			padding:0px;
		}
		.row .col.s3{
			width:20%;
		}
        #wait, #fast, #success, #edit, #error{
            display: flex;
            justify-content: center;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        .row_card{
            margin:auto 10px !important;
        }

        .note_detail_div{
          padding:20px;
        }
        @media only screen and (max-width: 992px){
          .pagination {
              width: auto;
          }
        }
          .tabs{
                box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 0%);
          }
          .note_info{
        display: flex;
        max-width: 750px;
        width: 90%;
        margin: auto;
        margin-top: 27px;
        border-radius: 10px;
        padding:22px;
        background: white;
        flex-direction: column;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    }
        .note_info_item{
        border-bottom: 1px solid grey;
        display: flex;
        margin-bottom:10px;
        padding:15px;
        justify-content: space-between;
        border-bottom: 1px solid #d7d7d7;
    }
    .note_info_item span:last-child{
        width: 60%;
        text-align: end;
    }
    ul{
        list-style-type: none;
    }
    .note_detail_tags{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .note_detail_tag{
        margin: 5px 10px;
        padding:7px;
        border-radius: 5px;
        color: white;
        background: #628bb591;
    }
    .note_detail_users{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .note_detail_user{
        padding:10px;
        background-color: grey;
        border-radius:5px;
        color: white;
        margin:7px;
    }
    .current_user{
        background-color: cornflowerblue;
    }
    .success_user{
        background-color:#25AE88;
    }
    .edit_user{
        background-color: #ffc800;
    }
    .error_user{
        background-color: #D75A4A;
    }
    .user_line{
        width: 30px;
        height: 1px;
        background-color: #3a92ff;
    }
    .user_line:last-child{
        display: none;
    }
    .note_info_status{
        background: #00a93c;
        width: fit-content;
        padding: 11px;
        font-size: 11px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: -35px;
        margin-right: -35px;
        align-self: flex-end;
        color: white;
    }
    .note_info_img{
        background-color: white;
        margin-top: -38px;
        margin-right: 5px;
        border-radius: 3px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 20px;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
        align-self: flex-end;
    }
    .connection_error{
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 23px;
      color: #ff6600;
    }
    .modal .modal_content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 800px;
        z-index: 99999;
        border-radius: 10px;
    }

    .modal .modal_content .close_modal_window, .close_modal_window2{
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

</style>
{% endblock %}

{% block content %}
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
  <div id="modal_create" class="modal">
    <div class="modal_content">
        <span class="close_modal_window">×</span>
        <form action="{% url 'service_note_add' %}" method="post" class="form_box" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="form_title" style="margin-left: 20px">Служебная записка №<input type="number" class="note_number_input" name="number" min="1" value="{{number}}"></h3>

            <div class="form_item">
                <label for="">Название</label>
                <input type="text" name="title" style="text-align: center" required>
            </div>
            <div class="form_item">
                <label for="">Дата</label>
                <input type="date" name="date" required value="{{ current_date }}">
            </div>
            <div class="form_item" style="flex-direction:column;">
                <label for="">Текст</label>
                <textarea type="text" id="editor1" name="text" rows="4"></textarea>
            </div>
            <div class="form_item">
                <label for="">Итого</label>
                <input type="number" name="summa" style="text-align: center" required>
            </div>
            <div class="form_item" style="margin-bottom: 30px;margin-top: 10px;">
                <label for="">Файлы</label>
                <div class="input_files">
                    <div class="input_file">
                        <input type="file" id="input_file_1" name="input_file_1" onchange="file_upload(this)">
                        <label for="input_file_1" class="input_file_label">+</label>
                    </div>
                    <div class="input_file">
                        <input type="file" id="input_file_2" name="input_file_2" onchange="file_upload(this)">
                        <label for="input_file_2" class="input_file_label">+</label>
                    </div>
                    <div class="input_file">
                        <input type="file" id="input_file_3" name="input_file_3" onchange="file_upload(this)">
                        <label for="input_file_3" class="input_file_label">+</label>
                    </div>

                </div>
            </div>
            <div class="form_item">
                <label for="">Кому</label>
                <div class="user_selects" id="user_selects">
                    <div class="user_select">
                        <span class="user_select_number" data-tag-id="1">1</span>
                        <select name="user_1" id="" style="width:430px;">
                            {% for user in users %}
                            <option value="{{ user.pk }}">{{ user.first_name|slice:"1" }}.{{ user.last_name }}({{ user.profile.position }})
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form_item" style="justify-content: flex-end">

            <div class="select_buttons">
                <span class="add_select_button" onclick="add_select()">+</span>
                <span class="delete_select_button" onclick="delete_select()">Удалить</span>
            </div>
            </div>
            <div class="form_item">
                <label for="">
                    Срочно
                </label>
                <div>

            <input type="checkbox" id="slider_input" name="fast" style="display: none">
            <label for="slider_input">
                <div class="slider_wrap">
                    <div class="slider_circle"></div>
                </div>
            </label>
                </div>
            </div>
                <!--<div class="form_item">
                    <input type="checkbox" id="fast" style="display: none">
                    <label for="fast" class="fast">Срочно</label>
                </div>-->
            <div class="form_item" style="border-top:1px solid #cecece;padding-top:10px;">
                <div class="tags">
                    {% for tag in tags %}
                    <input type="checkbox" id="tag_{{ tag.pk }}" name="tag_{{ tag.pk }}">
                    <label class="tag" for="tag_{{ tag.pk }}">
                        {{ tag.name }}
                    </label>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="form_button">Создать</button>
        </form>
    </div>
  </div>

  	<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1" onclick="loadNotesList(q='wait')">В ожидании</a></li>
        <li class="tab col s3"><a class="active" onclick="loadNotesList(q='fast')" href="#test2">Срочные</a></li>
        <li class="tab col s3"><a href="#test3" onclick="loadNotesList(q='success')">Одобренные</a></li>
        <li class="tab col s3"><a href="#test4" onclick="loadNotesList(q='edit')">Редактирование</a></li>
        <li class="tab col s3"><a href="#test5" onclick="loadNotesList(q='error')">Отказано</a></li>
      </ul>
    </div>


    <div id="test1" class="col s12"><div id="wait">
        <div class="preloader-wrapper big active" style="
    margin: 150px auto;
    display: block;
">
        <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
    </div></div></div>
    <div id="test2" class="col s12"><div id="fast">
        <div class="preloader-wrapper big active" style="
    margin: 150px auto;
    display: block;
">
        <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
    </div></div></div>
    <div id="test3" class="col s12"><div id="success">
        <div class="preloader-wrapper big active" style="
    margin: 150px auto;
    display: block;
">
        <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
    </div></div></div>
    <div id="test4" class="col s12"><div id="edit">
        <div class="preloader-wrapper big active" style="
    margin: 150px auto;
    display: block;
">
        <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
    </div></div></div>
    <div id="test5" class="col s12"><div id="error">
        <div class="preloader-wrapper big active" style="
    margin: 150px auto;
    display: block;
">
        <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
        </div></div></div>

  </div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large pulse modal-trigger" href="#modal_create" style="background: #58a5ff !important">
      <i class="large material-icons">add</i>
    </a>
  </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
      if(getCookie('display') === undefined){
        document.cookie = "display=card"
      }

        loadNotesList(q="fast");
        var preloader = '<div class="preloader-wrapper big active" style="\n' +
                 '    margin: 150px auto;\n' +
                 '    display: block;\n' +
                 '">\n' +
                 '        <div class="spinner-layer spinner-blue-only">\n' +
                 '      <div class="circle-clipper left">\n' +
                 '        <div class="circle"></div>\n' +
                 '      </div><div class="gap-patch">\n' +
                 '        <div class="circle"></div>\n' +
                 '      </div><div class="circle-clipper right">\n' +
                 '        <div class="circle"></div>\n' +
                 '      </div>\n' +
                 '    </div>\n' +
                 '    </div>';


        function createDetail(data){
          let modal = document.getElementById("modal1");
          modal.classList.add("note_info");
          let buh = data.buh !== null ? `${data.buh.first_name} ${data.buh.last_name}(подписано)`: 'в ожидании';

          let status = data.status;
          let status_image = '';
          if (status === null){
            status_image = 'wait';
          }else if(status === 'success'){
            status_image = 'success';
          }else if(status === 'edit'){
            status_image = 'warning';
          }else if(status === 'error'){
            status_image = 'error';
          }

          let user_count = 0;
          let users = '';
          data.users.forEach((i)=>{
            let user_status = '';
            user_count++;
            if(user_count === data.user_index){
              console.log(i);
              if (status == null){
                user_status = 'current_user';
              }else if(status === 'success'){
                user_status = 'success_user';
              }else if(status === 'edit'){
                user_status = 'edit_user';
              }else if(status === 'error') {
                user_status = 'error_user';
              }
            }else if(user_count < data.user_index){
                user_status = 'success_user';
              }
            users+=`<li class="note_detail_user ${user_status}">${i.user.first_name} ${i.user.last_name}</li><span class="user_line"></span>`
          });
          users = `<ul class="note_detail_users">${users}</ul>`

          modal.innerHTML = `<div class="note_detail">
                <div style="display: flex;
                margin-top: 14px;
                border-radius: 10px;
                flex-direction: column;">
                    <img src="/static/img/${status_image}.svg" class="note_info_img" width="60" height="60">
                    <div class="note_info_item"><span>Создал:</span>
                        <span>${data.user.first_name} ${data.user.last_name}</span></div>
                    <div class="note_info_item"><span>Название:</span> <span>${data.title}</span></div>
                    <div class="note_info_item"><span>Дата СЗ:</span> <span>${data.date}</span></div>
                    <div class="note_info_item"><span>Дата создания:</span> <span>22 июня 2021 г. 11:18</span></div>
                    <div class="note_info_item"><span>Текст:</span> <span><p>${data.text}</p></span></div>
                    <div class="note_info_item"><span>Итого:</span> <span>${data.summa}</span></div>
                    <div class="note_info_item"><span>Бухгалтер:</span> <span> <span style="color:grey;">${buh}</span> </span></div>
                    <ul class="note_detail_tags">
                    </ul>
                </div>
                ${users}
            </div>`;

        }




        async function getDetailNote(id){
          let modal = document.getElementById("modal1");
          modal.innerHTML = preloader;
          let url = '/fetch/notes/'+id;
          await fetch(url).then(async response => {
              if (response.status === 200) {
                 createDetail(await response.json());

              } else {
                throw new Error(response.status);
              }
            }).catch((error)=>{
              console.log(error);
              let modal = document.getElementById("modal1");
              modal.innerHTML = "<div class='connection_error'>Ошибка<br>Нет связи с сервером</div>";
            });
        }


        async function createList(data, list_id, display="card"){
            let previous_number = "";
            let next_number = "";
            let empty = '';

            data["data"].forEach(
                (i) => {
                let fast = i["fast"] ? ' <i class="material-icons" style="color: #ffbd29;margin-top: 4px;position: absolute;margin-left: 20px;">offline_bolt</i>' : '';
                let file = i["files"].length>0 ? ' <i class="material-icons right">attachment</i>' : '';
                let card_color = "";
                let card_status_text = "";
                if (i["status"] == "null"){
                  //card_color = "grey !important";
                  card_status_text = "(В ожидании)";
                }else if(i.status == "success"){
                  //card_color = "#689f38 !important";
                  card_status_text = "(Подписано)";
                }else if(i.status == "edit"){
                  //card_color = "#ffc107 !important";
                  card_status_text = "(Редактирование)";
                }else if(i.status == "error"){
                  //card_color = "#ef5350 !important";
                  card_status_text = "(Отказано)";
                }
                if (display === 'card'){
                empty+= '<div class="col s12 m4">' +
                    '<div class="row row_card"> ' +
                    '<div class="col s12 m12">' +
                    '<div class="card blue-grey darken-1" style="background: '+ card_color + '"> ' +
                    '<div class="card-content white-text">' +
                    '<span class="card-title activator grey-text text-darken-4" style="color:#fff !important;">СЗ №'
                    +i["number"] +
                     card_status_text+
                        fast +
                    '<i class="material-icons right">more_vert</i>\n' +
                    '</span> ' +
                    '<p>'+i["title"]+
                    '</p>' +
                    ' </div> ' +
                    '<div class="card-action"> ' +
                    '<a href="/notes/show/isSignature/'+i["id"]+'" target="_blank">PDF</a> ' +
                    '<a class="waves-effect waves-light modal-trigger" href="#modal1" onclick="getDetailNote('+i.id+')">Подробнее</a> ' +
                    '<a href="#">' +
                    file +
                    '</a> ' +
                    '</div> ' +
                    '<div class="card-reveal" style="background-color: #546e7ab8;">' +
                        '<span class="card-title white-text text-darken-4" style="margin-top:-1px">СЗ №'+
                        i["number"]+
                        '<i class="material-icons right">close</i></span>'+
                    '<span class="card-content grey-text text-darken-4" style="color:#ffffff !important">'+
                    ''+ i["text"] +
                    '</span>'+
                    '</div>' +
                    '</div> ' +
                    '</div> ' +
                    '</div> ' +
                    '</div>';
                }else{
                  empty+=`<a class="waves-effect waves-light modal-trigger new-collection-item collection-item" href="#modal1" onclick="getDetailNote(${i.id})">СЗ №${i["number"]} - ${i["title"]}</a>`;
                }}
            );

          let previous_number_page = '<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>';
          let next_number_page = '<li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>'
            if (data["isPrevious"]){
              previous_number = data["page"]-1;
              let new_list_id = '"'+list_id+'"'
              previous_number_page = "<li class='waves-effect'><a href='#' onclick='loadNotesList(q="+new_list_id+",page="+previous_number+")'><i class=\"material-icons\">chevron_left</i></a></li>\n" +
                      "<li class='waves-effect'><a href='#' onclick='loadNotesList(q="+new_list_id+",page="+previous_number+")'>"+
                      previous_number+
                      '</a></li>\n';
            }
            if (data["isNext"]){
              next_number = data["page"]+1;
              let new_list_id = '"'+list_id+'"'
              next_number_page =
                    "<li class='waves-effect'><a href='#' onclick='loadNotesList(q="+new_list_id+",page="+next_number+")'>"+
                      next_number+
              '</a></li>\n' +
                    "<li class='waves-effect'><a href='#' onclick='loadNotesList(q="+new_list_id+",page="+next_number+")'><i class='material-icons'>chevron_right</i></a></li>\n";
            }

                    let display_card_color = getCookie('display') === 'card'? '#ff985f' : '#546e7a';
                    let display_list_color = getCookie('display') === 'list'? '#ff985f' : '#546e7a';
                    console.log(display_list_color);
                    console.log(display_card_color);
            let pagination = '' +
                    '<ul class="pagination">\n' +
                    previous_number_page+
                    '    <li class="active"><a href="#!">'+
                    data["page"]+
                    '</a></li>\n' +
                    next_number_page+
                    '  </ul>\n' +
                    '<i class="material-icons" onclick="setDisplay(1,'+"'"+list_id+"'"+','+data["page"]+')" style="\n' +
                    '                    float: right;\n' +
                    '                    cursor: pointer;\n' +
                    '                    position: absolute;\n' +
                    '                    left: 10px;\n' +
                    '                    top: 120px;\n' +
                    '                    font-size: 33px;\n' +
                    '                    color: '+
                    display_card_color+
                    ';\n' +
                    '                ">apps</i>'+
                    '<i class="material-icons" onclick="setDisplay(2,'+"'"+list_id+"'"+','+data["page"]+')" style="\n' +
                    '                    float: right;\n' +
                    '                    cursor: pointer;\n' +
                    '                    position: absolute;\n' +
                    '                    left: 50px;\n' +
                    '                    top: 120px;\n' +
                    '                    font-size: 33px;\n' +
                    '                    color: '+
                    display_list_color+
                    ';\n' +
                    '                ">reorder</i>'+
                    '<i class="material-icons" style="\n' +
                    '    float: right;\n' +
                    '    cursor: pointer;\n' +
                    '    position: absolute;\n' +
                    '    right: 10px;\n' +
                    '    display: block;\n' +
                    '    top: 120px;\n' +
                    '    font-size: 33px;\n' +
                    '    color: #546e7a;\n' +
                    '">filter_list</i>'
            let list = document.getElementById(list_id);
            if (empty === ""){
                empty = "<span style='color: grey;justify-content: center;display: flex;align-items: center;margin: 20px auto;'>Не найдено</span>"
            }else{
              if (display === 'card'){
                if(data["data"].length>10){
                  empty=pagination+"<div style='width:100%'>"+empty+"</div>"+pagination;
                }else{
                  empty=pagination+"<div style='width:100%'>"+empty+"</div>";
                }}else{
                if(data["data"].length>10){
                  empty=pagination+"<div class='collection' style='width:100%'>"+empty+"</div>"+pagination;
                }else{
                  empty=pagination+"<div class='collection' style='width:100%'>"+empty+"</div>";
                }
              }
            }

            list.innerHTML = empty;
        }
    	 async function loadNotesList(q="all", paginator=1){
    	     let url = '/fetch/notes?status='+q+'&page='+paginator;
    	     let display = getCookie("display");
    	     let page = document.getElementById(q);
    	     page.innerHTML = preloader;
    		 await fetch(url).then(async response => {
              if (response.status === 200) {
                 createList(await response.json(), q, display)
              } else {
                throw new Error(response.status);
              }
            });
		}







        function getCookie(name) {
          let matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
          ));
          return matches ? decodeURIComponent(matches[1]) : undefined;
        }

		function setDisplay(display,q,paginator){
          if (display === 1){
            document.cookie = "display=card";

          }else{
            document.cookie = "display=list"
          }
          loadNotesList(q,paginator)
        }
    </script>
{% endblock %}