{% extends 'new_design/base.html' %}
{% load static %}

{% block title %}
Тэги
{% endblock %}

{% block style %}
<style>
    .row .col{
			padding:0px;
		}
		.row .col.s3{
			width:50%;
		}
        #wait, #fast, #success, #edit, #error{
            display: flex;
            justify-content: center;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        .row_card{
            margin:auto 10px !important;
        }
        .note_detail_div{
          padding:20px;
        }
        .tabs{
                box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 0%);
          }
        .note_info_item{
        border-bottom: 1px solid grey;
        display: flex;
        margin-bottom:10px;
        padding:15px;
        justify-content: space-between;
        border-bottom: 1px solid #d7d7d7;
    }
        .note_info{
        display: flex;
        max-width: 750px;
        width: 90%;
        margin: auto;
        margin-top: 27px;
        border-radius: 10px;
        padding:22px;
        background: white;
        flex-direction: column;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    }
    .note_info_item span:last-child{
        width: 60%;
        text-align: end;
    }
    ul{
        list-style-type: none;
    }
    .collection-item{
        color: blue;
        display: flex;
    }
    .listItemNumber {
        margin-right: 120px;
        border-radius: 100%;
        background: #58a5ff;
        text-align: center;
        width: 33px;
        display: flex;
        justify-content: center;
        height: 30px;
        align-items: center;
        color: white;
    }
    .listItemContent{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        color: #616161;;
    }
    .connection_error{
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 23px;
      color: #ff6600;
    }
    .tags{
        margin-top: 10px;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%) ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .tags-item{
        border-bottom: 1px solid grey;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        width: 100%;
        line-height: 1.5rem;
        padding: 10px 20px;
        margin: 0;
        border-bottom: 1px solid #e0e0e0;
        align-items: center;
        transition: .25s;
    }
    .tags-item:hover{
        background-color: #f3f3f3;
    }
    .tagIconList{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tagIconList i{
        border-right: 1px solid #e0e0e0;
        padding:0px 5px;
    }
    .tagIconList i:last-child{
        border-right: 0px;
    }
    .more_icon{
        color: #00bfa5;
    }
    .edit_icon{
        color: orange;
    }
    .delete_icon{
        color: orangered;
    }
</style>
{% endblock %}

{% block content %}
<div class="content">
    <div class="tags">
        {% for i in tags %}
            <a href="#!" class="tags-item">
                <span class="listItemNumber">{{ forloop.counter }}</span>
                <div class="listItemContent">
                    <span>{{ i.name }}</span>
                    <span class="tagIconList">
                        <i class="material-icons more_icon">menu</i>
                        <i class="material-icons edit_icon">edit</i>
                        <i class="material-icons delete_icon">delete</i>
                    </span>
                </div>
            </a>
        {% endfor %}
      </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}