{% extends 'new_design/base.html' %}
{% load static %}

{% block title %}
Пользователи
{% endblock %}

{% block style %}
<style>
    table {
        margin-bottom: 50px;
    }
    thead tr td{
        font-weight: 600;
    }
    tr, td {
        padding: 15px 30px;
        height: 50px;
        cursor:pointer;
    }
    tbody tr:hover{
        background: #e8e8e8 !important;
    }


    .profileBlock {
        display: none;
        position: absolute;
        width: 300px;
        min-height: 230px;
        background: white;
        right: 150px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
        padding:10px;
        justify-content: start;
        flex-direction: column;
    }
    .profileBlock::before{
        content: "";
        height: 10px;
        width: 10px;
        border-bottom: 10px solid #ffffff00;
        border-top: 10px solid #ffffff00;
        border-left: 10px solid white;
        position: absolute;
        top: 66px;
        right: -10px;
    }
    .profileBlockItem{
        display: flex;
        justify-content: space-between;
    }
    .profileBlock img{
        border-radius: 3px;
        display: block;
        margin: 3px auto;
    }
    .profileBlockItem span:last-child{
        text-align: right;
    }
    .user_actions{
        text-align: right;
    }
    .user_actions a{
        border-right: 1px solid #e0e0e0;
        padding:0px 5px;
    }
    .userModal{
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 500px;
        border-top:1px solid #e0e0e0;
    }
    .form_button{
        margin:auto !important;
        display: block;
    }
</style>
{% endblock %}

{% block content %}
  <div id="modal_create" class="modal userModal">
        <form action="#" method="post" id="createUserForm">
                    <div class="modal-content">
                      <h5 class="modalTitle">Создание пользователя</h5>

                        <input type="text" name="username" required placeholder="Логин">
                        <input type="text" name="first_name" required placeholder="Имя">
                        <input type="text" name="last_name" required placeholder="Фамилия">
                        <input type="email" name="email" class="validate invalid" required placeholder="Почта">
                        <input type="password" name="password1" required placeholder="Пароль">
                        <input type="password" name="password2" required placeholder="Пароль(повтор)">
                        <select name="department" id="">
                            {% for i in departments %}
                                <option value="{{ i.pk }}">{{ i.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                      <div class="modal-footer">
                          <button type="submit" class="btn waves-effect form_button">Создать</button>
                      </div>
        </form>

  </div>

    <div id="modal_delete" class="modal userModal">
        <div class="modal-content">
          <h5 class="deleteModalTitle">Удаление</h5>
          <p>
            Вы действительно хотите удалить данного пользователя, отменить это действие будет невозможно</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-grey btn-flat">Нет</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat" data-pk="" id="deleteModalButton" onclick="deleteUser(this)">Да</a>
        </div>
    </div>


<div class="">
    <table class="table-striped" id="userTable">
        <thead>
        <tr>
            <td>ФИО</td>
            <td>Должность</td>
            <td>Номер</td>
            <td class="user_actions">Действия</td>
        </tr>
        </thead>
        <tbody>
        {% for i in users %}
            <tr data-id="userItem_{{ i.pk }}">
                <td>{{ i.last_name }} {{ i.first_name }}</td>
                <td>{{ i.profile.position }}</td>
                <td>{{ i.profile.mobile }}</td>
                <td class="user_actions">
                        <a onclick="getUserForApi(this, id={{i.pk}}, 'show')"><i class="material-icons more_icon">more_vert</i></a>
                        <a href="#modal_edit" class="modal-trigger" onclick="selectTag({{i.pk}})"><i class="material-icons edit_icon">edit</i></a>
                        <a href="#modal_delete" class="modal-trigger" onclick="buttonAddId({{ i.pk }})"><i class="material-icons delete_icon">delete</i></a>
                </td>
                <div class="profileBlock" id="profileBlock_{{i.pk}}"></div>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

   <div class="fixed-action-btn">
        <a class="btn-floating btn-large pulse modal-trigger" href="#modal_create" style="background: #58a5ff !important">
          <i class="large material-icons">add</i>
        </a>
   </div>
{% endblock %}

{% block script %}
<script>

        $(document).ready(function(){
            $('select').formSelect();
          });
     var preloader = '<div class="preloader-wrapper big active" style="\n' +
                 '    margin: 150px auto;\n' +
                 '    display: block;\n' +
                 '">\n' +
                 '        <div class="spinner-layer spinner-blue-only">\n' +
                 '      <div class="circle-clipper left">\n' +
                 '        <div class="circle"></div>\n' +
                 '      </div><div class="gap-patch">\n' +
                 '        <div class="circle"></div>\n' +
                 '      </div><div class="circle-clipper right">\n' +
                 '        <div class="circle"></div>\n' +
                 '      </div>\n' +
                 '    </div>\n' +
                 '    </div>';

        function notDisplay(list){
                 list.forEach(
                     (elem) => {
                         elem.style.display = "none";
                     }
                 )
                }

     function backgroundInherit(list){
            list.forEach((elem)=>{
                elem.style.backgroundColor = "inherit";
            })
        }

     async function getUserForApi(elem, id, visible){
        let trs = document.querySelectorAll("tr");
        backgroundInherit(trs);
        elem.parentElement.parentElement.style.backgroundColor = "#e8e8e8";

        let table = document.getElementById("userTable");
        let tbody = table.children[1];
        let trs_list = [...tbody.children];
        let count = trs_list.indexOf(elem.parentElement.parentElement)+1;
        console.log(count);

        let url = `/fetch/users/${id}`;
        let openBlocks = document.querySelectorAll(".profileBlock");
        notDisplay(openBlocks);
        let block = getBlock(id, count, visible);
        visible === 'show' ?
                await fetch(url).then(async response => {
                  if (response.status === 200) {
                      let dataAPI = await response.json();
                      setBlock(block, await generateUserData(id, dataAPI));
                  } else {
                    throw new Error(response.status);
                  }
                }).catch((error)=>{
                    console.log(error);
                  setBlock(block, "<div class='connection_error'>Ошибка <br> Нет связи с сервером</div>");
            }) :
            setBlock(block, "");
    }

      function getBlock(id, count, visible) {
            let style = visible === "show" ? `display:flex;top:${count * 60 + 10}px;` : "display:none;"
            let block = document.getElementById(`profileBlock_${id}`);

            block.style = style;
            block.innerHTML = preloader;

            return block;
        }

     function generateUserData(id, data) {
         //let picture = data.profile.picture !== null ? data.profile.picture : '{% static "img/user.png" %}';
         //console.log(picture);//<img src="${picture}" width="240px" height="240px" alt="">
         let signature = '';
         let position = '';
         let mobile = '';
         let birth_date = '';
         let picture = '';
         if (data.profile !== null){
            signature = data.profile.signature !== null ? `<img src="${data.profile.signature}" width="200px" height="200px" alt="">` : '';
            mobile = data.profile.mobile !== null ? data.profile.mobile : '';
            position = data.profile.position !== null ? data.profile.position : '';
            birth_date = data.profile.birth_date !== null ? data.profile.birth_date : '';
            picture = data.profile.picture !== null ? data.profile.picture : '';
         }
         return data !== 'error' ? `
                <div class="profileBlockItem">
                    <span>ФИО:</span>
                    <span>${data.first_name} ${data.last_name}</span>
                </div>
                <div class="profileBlockItem">
                    <span>Должность:</span>
                    <span>${position}</span>
                </div>
                <div class="profileBlockItem">
                    <span>Почта:</span>
                    <span>${data.email}</span>
                </div>
                <div class="profileBlockItem">
                    <span>Мобильный:</span>
                    <span>${mobile}</span>
                </div>
                <div class="profileBlockItem">
                    <span>Дата рождения:</span>
                    <span>${birth_date}</span>
                </div>
                ${signature}
        ` : `<div>Ошибка</div>`;

    }

    function setBlock(elem, text){
        elem.innerHTML = text;
    }



</script>
<script>
    /*Тут удаление*/
    function notDisplay(list){
                 list.forEach(
                     (elem) => {
                         elem.style.display = "none";
                     }
                 )
                }

    function buttonAddId(pk){
        let openBlocks = document.querySelectorAll(".profileBlock");
        notDisplay(openBlocks);
        let elem = document.getElementById("deleteModalButton");
        elem.setAttribute("data-pk", pk);
    }

    async function deleteUser(elem){
        let pk = elem.getAttribute("data-pk");
        url = `/fetch/user/delete/${pk}`;
        await fetch(url, {
            method: "delete",
        }).then(async response=>{
            if (response.status === 200){
                deleteInList(pk);
                successDeleteToast();
            }else{
                errorConnectionToast();
                throw new Error(response.status);
            }
        }).catch(error => {
            errorConnectionToast();
            console.log(error);})
    }

    function deleteInList(pk){
        let user_item = document.querySelectorAll(`tr[data-id='userItem_${pk}']`)[0];
        user_item.remove();
    }

    function successDeleteToast(){
            M.toast({html: 'Пользователь удален', classes: "toastSuccess"})
    }


    /*Тут создание пользователя*/
    let form = document.querySelector("form");
    form.onsubmit = function(evt){
        evt.preventDefault();
        let formData = new FormData(form);
        createUserAPI(formData)
    }

    async function createUserAPI(userData){
        url = '/fetch/user/create';
        await fetch(url, {
            method: "POST",
            body: userData,
        }).then(async response => {
                if (response.status === 200) {
                    successCreateToast();
                    addTable(await response.json());

                }else{
                    errorMessage(await response.json());
                }
            }
        ).catch(error=>{
            errorConnectionToast();
            console.log(error);
        })
    }

    function errorMessage(data){
        if (data.messages != null){
            data.messages.forEach(
                elem => {
                    M.toast({html: `${elem.message}`, classes: "toastError"})
                }
            )
        }else{
            M.toast({html: 'Отправлены не валидные данные', classes: "toastError"})
        }
    }

    function addTable(data){
        let table = document.getElementById("userTable");
        let tbody = table.children[1];
        let tr = document.createElement("tr");
        tr.setAttribute("data-id", `userItem_${data.id}`);
        tr.innerHTML = `<td>${data.last_name} ${data.first_name}</td>
                <td>${data.profile.position}</td>
                <td>${data.profile.mobile}</td>
                <td class="user_actions">
                        <a onclick="getUserForApi(this, id=${data.id}, 'show')"><i class="material-icons more_icon">more_vert</i></a>
                        <a href="#modal_edit" class="modal-trigger" onclick="selectTag(${data.id})"><i class="material-icons edit_icon">edit</i></a>
                        <a href="#modal_delete" class="modal-trigger" onclick="buttonAddId(${data.id})"><i class="material-icons delete_icon">delete</i></a>
                </td>
                <div class="profileBlock" id="profileBlock_${data.id}"></div>`
        tbody.appendChild(tr);
    }

    function successCreateToast(){
        M.toast({html: 'Пользователь создан', classes: "toastSuccess"})
    }
    /*Ошибка при отсутсвии интернета и серверных ошибках(редактирование, удаление, создание)*/
    function errorConnectionToast(){
        M.toast({html: 'Нет соединения', classes: "toastError"})
    }
</script>
{% endblock %}