{% extends 'new_design/base.html' %}
{% load static %}

{% block title %}
Пользователи
{% endblock %}

{% block style %}
<style>
    table {
        margin-bottom: 50px;
    }
    thead tr td{
        font-weight: 600;
    }
    tr, td {
        padding: 15px 30px;
        height: 50px;
        cursor:pointer;
    }
    tbody tr:hover{
        background: #e8e8e8;
    }


    .profileBlock {
        display: none;
        position: absolute;
        width: 300px;
        min-height: 230px;
        background: white;
        right: 120px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
        padding:10px;
        justify-content: start;
        flex-direction: column;
    }
    .profileBlockItem{
        display: flex;
        justify-content: space-between;
    }
    .profileBlock img{
        border-radius: 3px;
        display: block;
        margin: 3px auto;
    }
    .profileBlockItem span:last-child{
        text-align: right;
    }
</style>
{% endblock %}

{% block content %}
<div class="">
    <table class="table-striped">
        <thead>
        <tr>
            <td>ФИО</td>
            <td>Должность</td>
            <td>Номер</td>
        </tr>
        </thead>
        <tbody>
        {% for i in users %}
        <tr onmouseover="getUserForApi(id={{i.pk}}, count={{forloop.counter}}, 'show')"
            onmouseout="getUserForApi(id={{i.pk}}, count={{forloop.counter}}, 'hide')">
            <td>{{ i.last_name }} {{ i.first_name }} {{ i.username }}</td>
            <td>{{ i.profile.position }}</td>
            <td>{{ i.profile.mobile }}</td>
            <div class="profileBlock" id="profileBlock_{{i.pk}}"></div>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script>
     var preloader = '<div class="preloader-wrapper big active" style="\n' +
                 '    margin: 150px auto;\n' +
                 '    display: block;\n' +
                 '">\n' +
                 '        <div class="spinner-layer spinner-blue-only">\n' +
                 '      <div class="circle-clipper left">\n' +
                 '        <div class="circle"></div>\n' +
                 '      </div><div class="gap-patch">\n' +
                 '        <div class="circle"></div>\n' +
                 '      </div><div class="circle-clipper right">\n' +
                 '        <div class="circle"></div>\n' +
                 '      </div>\n' +
                 '    </div>\n' +
                 '    </div>';



     async function getUserForApi(id, count, visible){
        let url = `/fetch/users/${id}`;
        let block = getBlock(id, visible);
        visible === 'show' ?
                await fetch(url).then(async response => {
                  if (response.status === 200) {
                      let dataAPI = await response.json();
                      setBlock(block, await generateUserData(id, dataAPI));
                  } else {
                    throw new Error(response.status);
                  }
                }).catch((error)=>{
                  setBlock(block, "<div class='connection_error'>Ошибка <br> Нет связи с сервером</div>");
            }) :
            setBlock(block, "");
    }

      function getBlock(id, visible) {
            let style = visible === "show" ? `display:flex;top:${count * 54 + 10}px;` : "display:none;"
            let block = document.getElementById(`profileBlock_${id}`);

            block.style = style;
            block.innerHTML = preloader;

            return block;
        }

     function generateUserData(id, data) {
         let picture = data.profile.picture !== null ? data.profile.picture : '{% static "img/user.png" %}';
         console.log(picture);
         return  data !== 'error' ? `
                <img src="${picture}" width="240px" height="240px" alt="">
                <div class="profileBlockItem">
                    <span>ФИО:</span>
                    <span>${data.first_name} ${data.last_name}</span>
                </div>
                <div class="profileBlockItem">
                    <span>Должность:</span>
                    <span>${data.profile.position}</span>
                </div>
                <div class="profileBlockItem">
                    <span>Почта:</span>
                    <span>${data.email}</span>
                </div>
        ` : `<div>Ошибка</div>`;

    }

    function setBlock(elem, text){
        elem.innerHTML = text;
    }



</script>
{% endblock %}