{% extends 'base.html' %}
{% load app_tags %}
{% load static %}

{% block title %}
Бухгалтерия
{% endblock %}

{% block content %}
<div class="content" style="padding:0px;">
<span class="content_title">
    Бухгалтерия
</span>
    <div class="flex_notes">
        {% for note in notes %}
        <a href="{{ note.get_absolute_url }}" class="flex_note {% if note.fast %}fast_note{% endif %}">
            <div class="note_number">{{ note.number }}</div>
            <div class="note_title">{{ note.title }}</div>
            <div class="note_text">{{ note.text|htmlToText }}</div>
            <div class="note_date">{{ note.date }}</div>
        </a>
        {% empty %}
        <h4 class="not_found">Вы не создавали служебных записок</h4>
        {% endfor %}
    </div>

    {% if notes %}
    <div class="pagination">
     <span class="step-links">
      {% if notes.has_previous %}
          <a href="?page={{ notes.previous_page_number }}" class="page"><img
                  src="{% static 'img/pag_arrow.svg' %}" alt=""></a>
      {% endif %}
        <span class="active_page page">{{ notes.number }} из {{ notes.paginator.num_pages }}
        </span>
      {% if notes.has_next %}
            <a href="?page={{ notes.next_page_number }}" class="page"><img
                    src="{% static 'img/pag_arrow.svg' %}" style="transform:rotate(180deg);" alt=""></a>
      {% endif %}
      </span>
    </div>
    {% endif %}
</div>
{% endblock %}