{% extends 'base.html' %}

{% load static %}

{% block title %}
Главная
{% endblock %}

{% block content %}
        <div class="content">
            <div class="content_statuses">
                <div class="content_status">
                    <div class="status_title">
                        В ожидании
                    </div>
                    <div class="status_content">
                        <div class="last_notes last_wait">
                            {% for i in notStatus %}
                            <a href="{% url 'my_note_detail' i.pk %}" class="last_note">
                                {% if i.fast %}
                                <img src="{% static 'img/light_little.svg' %}" class="light_little" alt="" width="25">
                                {% endif %}
										<span class="last_note_number">
											№{{ i.number }}
										</span>
                                <span class="last_note_title">
											{{ i.title }}
										</span>
                                <span class="last_note_date">
											{{ i.date }}
										</span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="content_status">
                    <div class="status_title">
                        Редактирование
                    </div>
                    <div class="status_content">
                        <div class="last_notes last_edit">
                            {% for i in editStatus %}
                            <a href="{% url 'my_note_detail' i.pk %}" class="last_note">
                                {% if i.fast %}
                                <img src="{% static 'img/light_little.svg' %}" class="light_little" alt="" width="25">
                                {% endif %}
										<span class="last_note_number">
											№{{ i.number }}
										</span>
                                <span class="last_note_title">
											{{ i.title }}
										</span>
                                <span class="last_note_date">
											{{ i.date }}
										</span>
                            </a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="content_status">
                    <div class="status_title">
                        Одобрено
                    </div>
                    <div class="status_content">
                        <div class="last_notes last_success">
                            {% for i in successStatus %}
                            <a href="{% url 'my_note_detail' i.pk %}" class="last_note">
                                {% if i.fast %}
                                <img src="{% static 'img/light_little.svg' %}" class="light_little" alt="" width="25">
                                {% endif %}
										<span class="last_note_number">
											№{{ i.number }}
										</span>
                                <span class="last_note_title">
											{{ i.title }}
										</span>
                                <span class="last_note_date">
											{{ i.date }}
										</span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="content_status">
                    <div class="status_title">
                        Отказано
                    </div>
                    <div class="status_content">
                        <div class="last_notes last_fail">
                            {% for i in errorStatus %}
                            <a href="{% url 'my_note_detail' i.pk %}" class="last_note">
                                {% if i.fast %}
                                <img src="{% static 'img/light_little.svg' %}" class="light_little" alt="" width="25">
                                {% endif %}
										<span class="last_note_number">
											№{{ i.number }}
										</span>
                                <span class="last_note_title">
											{{ i.title }}
										</span>
                                <span class="last_note_date">
											{{ i.date }}
										</span>
                            </a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="circle_add">
                +
            </div>
        </div>

{% endblock %}