{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
        <div class="content">
            <div class="content_statuses">
                <div class="content_status">
                    <div class="status_title">
                        В ожидании
                    </div>
                    <div class="status_content">
                        <div class="last_notes last_wait">
                            <a href="" class="last_note">
										<span class="last_note_number">
											№435
										</span>
                                <span class="last_note_title">
											Командировка
										</span>
                                <span class="last_note_date">
											19.04.21
										</span>
                            </a>
                            <a href="" class="last_note">
										<span class="last_note_number">
											№435
										</span>
                                <span class="last_note_title">
											Командировка
										</span>
                                <span class="last_note_date">
											19.04.21
										</span>
                            </a>
                            <a href="" class="last_note">
										<span class="last_note_number">
											№435
										</span>
                                <span class="last_note_title">
											Командировка
										</span>
                                <span class="last_note_date">
											19.04.21
										</span>
                            </a>
                            <a href="" class="last_note">
										<span class="last_note_number">
											№435
										</span>
                                <span class="last_note_title">
											Командировка
										</span>
                                <span class="last_note_date">
											19.04.21
										</span>
                            </a>
                            <a href="" class="last_note">
										<span class="last_note_number">
											№435
										</span>
                                <span class="last_note_title">
											Командировка
										</span>
                                <span class="last_note_date">
											19.04.21
										</span>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="content_status">
                    <div class="status_title">
                        Редактирование
                    </div>
                    <div class="status_content">
                        <div class="last_notes last_edit">
                            <a href="" class="last_note">
										<span class="last_note_number">
											№435
										</span>
                                <span class="last_note_title">
											Командировка
										</span>
                                <span class="last_note_date">
											19.04.21
										</span>
                            </a>
                            <a href="" class="last_note">
										<span class="last_note_number">
											№435
										</span>
                                <span class="last_note_title">
											Командировка
										</span>
                                <span class="last_note_date">
											19.04.21
										</span>
                            </a>
                            <a href="" class="last_note">
										<span class="last_note_number">
											№435
										</span>
                                <span class="last_note_title">
											Командировка
										</span>
                                <span class="last_note_date">
											19.04.21
										</span>
                            </a>
                            <a href="" class="last_note">
										<span class="last_note_number">
											№435
										</span>
                                <span class="last_note_title">
											Командировка
										</span>
                                <span class="last_note_date">
											19.04.21
										</span>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="content_status">
                    <div class="status_title">
                        Одобрено
                    </div>
                    <div class="status_content">
                        <div class="last_notes last_success">
                            <a href="" class="last_note">
										<span class="last_note_number">
											№435
										</span>
                                <span class="last_note_title">
											Командировка
										</span>
                                <span class="last_note_date">
											19.04.21
										</span>
                            </a>
                            <a href="" class="last_note">
										<span class="last_note_number">
											№435
										</span>
                                <span class="last_note_title">
											Командировка
										</span>
                                <span class="last_note_date">
											19.04.21
										</span>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="content_status">
                    <div class="status_title">
                        Отказано
                    </div>
                    <div class="status_content">
                        <div class="last_notes last_fail">
                            <a href="" class="last_note">
										<span class="last_note_number">
											№435
										</span>
                                <span class="last_note_title">
											Командировка
										</span>
                                <span class="last_note_date">
											19.04.21
										</span>
                            </a>
                            <a href="" class="last_note">
										<span class="last_note_number">
											№435
										</span>
                                <span class="last_note_title">
											Командировка
										</span>
                                <span class="last_note_date">
											19.04.21
										</span>
                            </a>
                            <a href="" class="last_note">
										<span class="last_note_number">
											№435
										</span>
                                <span class="last_note_title">
											Командировка
										</span>
                                <span class="last_note_date">
											19.04.21
										</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="circle_add">
                +
            </div>
        </div>

{% endblock %}