{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
    <div class="content">
        <h3 class="content_title">
            Профиль
        </h3>
        {{ user.first_name }}
        {{ user.last_name }}
        {% if user.profile.signature %}
        <div class="user_signature">
            {{ signature|safe }}
            <img src="{{ user.profile.signature.url }}" alt="" style="background: #ffffff66;border-radius: 12px;">
        </div>
        {% endif %}
    </div>
{% endblock %}