{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}
    <div class="content" style="padding-left: 0px; padding-right: 0px">
        <h3 class="content_title">Пользователи</h3>
        <table class="my_table">
                <tr class="my_tr">
                    <th class="my_th">ФИО</th>
                    <th class="my_th">Отдел</th>
                    <th class="my_th">Должность</th>
                    <th class="my_th">Номер моб.</th>
                </tr>
                {% for user in users %}
                <tr class="my_tr">
                    <td class="my_td">{{ user.last_name }} {{ user.first_name|slice:"1" }}.{% if user.profile.patronymic %}{{ user.profile.patronymic|slice:"1" }}.{% endif %}</td>
                    <td class="my_td">{{ user.profile.department }}</td>
                    <td class="my_td">{{ user.profile.position }}</td>
                    <td class="my_td">{{ user.profile.mobile }}</td>
                </tr>
                {% endfor %}
        </table>
        <a href="{% url 'user_add' %}">
        <div class="circle_add">
            +
        </div>
    </a>
    </div>
{% endblock %}